.popup {
  display: flex;
  position: fixed;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.8s, opacity 0.8s ease-out;
  width: 100%;
  height: 100%;
}

.popup_opened {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.8s;
}

.popup__container-confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 470px;
  position: relative;
  margin: 0;
}

.popup__close-button {
  background: transparent url(../../images/CloseIcon.svg) center no-repeat;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  border: none;
  padding: 0;
  cursor: pointer;
}

.popup__text-confirmation {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  width: 315px;
  height: 56px;
  text-align: left;
  align-self: center;
  margin: 43px 79px 0 36px;
}

.popup_hide {
  display: none;
}

.popup__subtext-confirmation {
  padding: 0;
  color: #2f71e5;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  margin: 14px 166px 51px 36px;
}

.popup__form-confirmation {
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 430px;
  height: 182px;
}

@media screen and (max-width: 425px) {
  .popup__container-confirmation {
    max-width: 425px;
  }
  .popup__form-confirmation {
    max-width: 425px;
  }
  .popup__subtext-confirmation {
    margin-right: 74px;
  }
  .popup__text-confirmation {
    margin-right: 74px;
  }
}
