.page-not-found {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  background: #f5f6f7;
  justify-content: center;
  align-items: center;
}

.page-not-found__image {
  width: 96px;
  height: 96px;
  align-self: center;
  margin: 86px 0 0;
}

.page-not-found__title {
  font-family: 'RobotoSlab', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #1a1b22;
  margin: 31.5px 0 0;
}

.page-not-found__text {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #b6bcbf;
  margin: 16px 0 80px 0;
  width: 356px;
  height: 48px;
}
