.header-saved-news {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d2d6;
  box-shadow: inset 0px -1px 0px #d1d2d6;
  margin: 0;
  max-width: 1440px;
  color: #ffffff;
}

.header-saved-news__summary {
  display: flex;
  flex-direction: column;
  margin: 40px 624px 0 104px;
}

.header-saved-news__logo {
  margin: 30px 0 26px 104px;
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1a1b22;
  text-decoration: none;
  align-self: center;
}

.header-saved-news__subtitle {
  margin: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}

.header-saved-news__title {
  margin-top: 28px;
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.header-saved-news__keyword {
  margin: 30px 0 62px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .header-saved-news__summary {
    margin: 24px 16px 0 40px;
  }
  .header-saved-news__logo {
    margin: 22.73px 0 18.47px 40px;
  }
  .header-saved-news__title {
    margin: 16px 0 0;
    font-size: 30px;
    line-height: 34px;
    width: 336px;
    height: 68px;
  }
  .header-saved-news__keyword {
    margin: 16px 0 32px 0;
  }
}

@media screen and (max-width: 425px) {
  .header-saved-news {
    display: grid;
    grid-template-columns: 160px 160px;
  }

  .header-saved-news__summary {
    margin: 8px 16px 0 15px;
  }
  .header-saved-news__logo {
    margin: 16px 0 16px 16px;
  }
  .header-saved-news__title {
    margin: 16px 0 0;
    width: 288px;
  }
  .header-saved-news__keyword {
    margin: 16px 0 32px 0;
  }
}
