.App {
  max-width: 1440px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
}

.App__image {
  background: url('../../images/georgia-de-lotz--UsJoNxLaNo-unsplash.jpg')
    no-repeat center;
  background-position: top;
}
