@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(./Inter-Regular.woff) format('woff'),
    url(./Inter-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url(./Roboto-Black.woff) format('woff'),
    url(./Roboto-Black.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(./Roboto-Medium.woff) format('woff'),
    url(./Roboto-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(./Roboto-Regular.woff) format('woff'),
    url(./Roboto-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: 700;
  src: url(./RobotoSlab-Bold.woff) format('woff'),
    url(./RobotoSlab-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: 400;
  src: url(./RobotoSlab-Regular.woff) format('woff'),
    url(./RobotoSlab-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'SourceSansPro';
  font-style: normal;
  font-weight: 400;
  src: url(./SourceSansPro-Regular.woff) format('woff'),
    url(./SourceSansPro-Regular.woff2) format('woff2');
}
