.about {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding-bottom: 80px;
  max-width: 1440px;
  background-color: #ffffff;
}

.about__img {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  margin: 80px 56px 0 104px;
  align-self: center;
  background-size: cover;
}

.about__author {
  display: flex;
  flex-direction: column;
  margin: 80px 0 0 0;
}

.about__title {
  font-family: 'RobotoSlab';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
  margin: 80px 0 0;
}

.about__paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 24px 0 0;
  width: 600px;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .about {
    padding-bottom: 70px;
  }
  .about__img {
    width: 348px;
    height: 348px;
    margin: 61px 45px 0 40px;
  }
  .about__author {
    margin: 70px 0 0 0;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }
  .about__paragraph {
    max-width: 500px;
    margin: 24px 0 0;
  }
}

@media screen and (max-width: 768px) {
  .about {
    padding-bottom: 61px;
  }
  .about__img {
    width: 232px;
    height: 232px;
    margin: 61px 32px 0 40px;
  }
  .about__author {
    margin: 40px 0 0 0;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }
  .about__paragraph {
    max-width: 424px;
    margin: 16px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .about {
    padding-bottom: 128px;
    flex-direction: column;
  }
  .about__img {
    width: 272px;
    height: 272px;
    margin: 32px 24px 0 24px;
  }
  .about__author {
    margin: 40px 0 0 0;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
    margin: 24px 16px 0;
  }
  .about__paragraph {
    max-width: 288px;
    margin: 16px 16px 0;
  }
}
