.search {
  display: flex;
  flex-direction: column;
  margin: 80px auto 0;
  max-width: 1440px;
  align-items: center;
}

.search__title {
  font-family: 'RobotoSlab', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #ffffff;
  width: 540px;
  margin: 0 auto;
}

.search__subtitle {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin: 32px 0 0;
  width: 608px;
}

.search__form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 608px;
  margin: 0 0 80px 0;
}

.search__input {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #d1d2d6;
  border-radius: 100px;
  width: 608px;
  height: 64px;
  margin: 88px 0 0;
  padding: 21px 40px 21px 24px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  backdrop-filter: blur(8px);
}

.search__input::placeholder {
  color: #b6bcbf;
}

.search__button {
  position: absolute;
  box-sizing: border-box;
  background: #2f71e5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  width: 168px;
  height: 64px;
  margin: 88px 0 0;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.search__button:hover {
  background: #347eff;
}

.search__button:active {
  background: #2a65cc;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .search {
    margin: 38px auto 0;
  }
  .search__title {
    font-size: 36px;
    line-height: 40px;
    width: 385px;
    margin: 0 220px 0 163px;
  }
  .search__subtitle {
    margin: 16px 156px 0 160px;
    width: 452px;
  }
  .search__form {
    max-width: 448px;
    margin: 48px auto;
  }
  .search__input {
    width: 448px;
    height: 56px;
    margin: 0;
    padding: 17px 40px 17px 24px;
  }
  .search__button {
    width: 160px;
    height: 56px;
    margin: 0;
  }
}

@media screen and (max-width: 680px) {
  .search {
    margin: 30px auto 32px;
  }
  .search__title {
    width: 285px;
    margin: 0 8px 0 15px;
  }
  .search__subtitle {
    margin: 16px 16px 0;
    width: 288px;
  }
  .search__form {
    width: 288px;
    min-height: 128px;
    margin: 122px auto 0;
    justify-content: space-between;
  }
  .search__input {
    width: 288px;
    height: 56px;
    margin: 0;
    padding: 17px 16px;
  }
  .search__button {
    width: 288px;
    height: 56px;
    margin: 72px 0 0;
  }
}
