.cardlist {
  display: flex;
  flex-direction: column;
  margin: 80px auto 0;
  max-width: 1440px;
}
.cardlist__saved-news {
  margin: 0 auto;
}

.cardlist__title {
  margin: 80px 0 0;
  font-family: 'RobotoSlab', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.cardlist__title_hide {
  display: none;
}

.cardlist__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 0;
  margin-top: 64px;
}

.cardlist__button {
  width: 288px;
  height: 64px;
  align-self: center;
  background: #ffffff;
  border-radius: 80px;
  cursor: pointer;
  margin: 64px auto;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  border: none;
}

.cardlist__button:hover {
  background: #e8e8e8;
  opacity: 0.9;
  border-radius: 80px;
}

.cardlist_hide {
  display: none;
}

.cardlist__button_hide {
  display: none;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
  .cardlist {
    max-width: 1248px;
    margin: 40px 0;
  }
  .cardlist__title {
    font-size: 30px;
    line-height: 34px;
    margin: 40px 0 0 40px;
  }
  .cardlist__cards {
    column-gap: 8px;
    row-gap: 10px;
    margin: 30px 0 0;
    grid-template-columns: repeat(3, 208px);
    align-self: center;
  }
  .cardlist__button {
    margin: 32px 256px 32px 272px;
    width: 240px;
    height: 56px;
  }
  .cardlist__saved-news {
    margin: 40px 0 0;
    align-items: center;
  }
}

@media screen and (max-width: 688px) {
  .cardlist {
    margin: 32px 16px 0;
  }
  .cardlist__cards {
    row-gap: 10px;
    margin: 20px auto 0;
    grid-template-columns: repeat(2, 208px);
  }

  .cardlist__title {
    margin: 0;
  }

  .cardlist__button {
    margin: 21px 16px 24px;
    width: 288px;
  }
  .cardlist__saved-news {
    margin: 40px 0 0;
  }
}

@media screen and (max-width: 473px) {
  .cardlist {
    margin: 32px 16px 0;
  }
  .cardlist__cards {
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin: 0 auto;
  }

  .cardlist__title {
    margin: 0 0 0 6px;
  }

  .cardlist__button {
    margin: 21px 16px 24px;
    width: 288px;
  }
}
