.card {
  width: 400px;
  height: 576px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
}

.card__button {
  border: none;
  cursor: pointer;
  position: absolute;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  border-radius: 8px;
  margin: 24px 24px 0 0;
}

.card__button_mark {
  background: url('../../images/markIcon.svg') no-repeat center;
  background-color: #ffffff;
}

.card__button_mark:hover {
  background: url('../../images/markIconblack.svg') no-repeat center;
  background-color: #ffffff;
}

.card__button_mark:hover + .card__button_text {
  margin: 24px 5px 0 149px;
  width: 182px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  color: #000000;
  border: none;
  position: absolute;
  display: block;
  align-self: flex-start;
}

.card__button_mark-fill {
  background: url('../../images/markIconfillblue.svg') no-repeat center;
  background-color: #ffffff;
}

.card__button_delete {
  background: url('../../images/trashlogo.svg') no-repeat center;
  background-color: #ffffff;
}

.card__button_delete:hover {
  background: url('../../images/trashlogoblack.svg') no-repeat center;
  background-color: #ffffff;
}

.card__image {
  width: 400px;
  height: 272px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card__date {
  margin: 20px 0 0 24px;
  font-family: 'SourceSansPro', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: #b6bcbf;
}

.card__title {
  margin: 12px 0 0 24px;
  font-family: 'RobotoSlab', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  color: #1a1b22;
  height: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card__text {
  margin: 16px 0 0 24px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  color: #1a1b22;
}

.card__author {
  margin: 18px 0 0 24px;
  font-family: 'RobotoSlab', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

.card__button_keyword {
  border-radius: 10px;
  width: 124px;
  height: 40px;
  margin: 24px 0 0 24px;
  align-self: flex-start;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
}

.card__button_keyword_hide {
  display: none;
}

.card__button_text {
  display: none;
}

.card__button_text_hide {
  display: none;
}

.card__button_delete:hover + .card__button_text {
  margin: 24px 5px 0 149px;
  width: 182px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  color: #000000;
  border: none;
  position: absolute;
  display: block;
  align-self: flex-start;
}

/* Media Queries */
@media screen and (max-width: 1248px) {
  .card {
    width: 384px;
  }
  .card__image {
    width: 384px;
  }
}

@media screen and (max-width: 1184px) {
  .card {
    width: 362px;
  }
  .card__image {
    width: 362px;
  }
  .card__text {
    margin: 16px 0 0 10px;
  }
  .card__author {
    margin: 18px 0 0 10px;
  }
  .card__title {
    margin: 12px 0 0 10px;
  }
  .card__date {
    margin: 20px 0 0 10px;
  }
}

@media screen and (max-width: 1118px) {
  .card {
    width: 340px;
  }
  .card__image {
    width: 340px;
  }
}

@media screen and (max-width: 1052px) {
  .card {
    width: 318px;
  }
  .card__image {
    width: 318px;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    width: 224px;
    height: 420px;
  }
  .card__button {
    margin: 8px 8px 0 0;
  }
  .card__button_delete-black {
    margin: 8px 8px 0 0;
  }

  .card__image {
    width: 224px;
    height: 150px;
  }

  .card__date {
    margin: 16px 0 0 15px;
  }
  .card__title {
    margin: 12px 16px 0;
    font-size: 22px;
    line-height: 24px;
    width: 192px;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .card__text {
    margin: 10px 16px 0;
    width: 192px;
    height: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .card__author {
    margin: 12px 16px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 192px;
    height: 20px;
  }
  .card__button_mark:hover + .card__button_signin {
    margin: 8px 0 0 46px;
    width: 122px;
    height: 40px;
  }
  .card__button_keyword {
    width: 120px;
    margin: 8px 0 0 8px;
  }
  .card__button_delete {
    margin: 8px 8px 0 0;
  }

  .card__button_mark:hover + .card__button_text {
    margin: 8px 0 0 32px;
    width: 140px;
  }
  .card__button_delete:hover + .card__button_text {
    margin: 52px 0px 0 40px;
  }
}

@media screen and (max-width: 680px) {
  .card {
    width: 224px;
    height: 420px;
  }
  .card__button {
    margin: 8px 8px 0 0;
  }
  .card__button_delete-black {
    margin: 8px 8px 0 0;
  }

  .card__image {
    width: 224px;
    height: 150px;
  }

  .card__date {
    margin: 16px 0 0 15px;
  }
  .card__title {
    margin: 12px 16px 0;
    font-size: 22px;
    line-height: 24px;
    width: 192px;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .card__text {
    margin: 10px 16px 0;
    width: 192px;
    height: 88px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
  .card__author {
    margin: 12px 16px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 192px;
    height: 20px;
  }
  .card__button_signin {
    margin: 8px 0 0 8px;
    width: 122px;
    height: 40px;
  }
  .card__button_keyword {
    margin: 8px 0 0 8px;
  }
  .card__button_delete {
    margin: 8px 8px 0 0;
  }
  .card__button_mark:hover + .card__button_text {
    margin: 16px 0 0 88px;
    width: 140px;
  }

  .card__button_delete:hover + .card__button_text {
    margin: 61px 0px 0 35px;
  }
}

@media screen and (max-width: 473px) {
  .card {
    width: 288px;
    height: 440px;
    margin-top: 10px;
  }
  .card__button {
    margin: 16px 16px 0 0;
  }
  .card__button_delete-black {
    margin: 8px 8px 0 0;
  }

  .card__image {
    width: 288px;
    height: 196px;
  }

  .card__date {
    margin: 16px 16px 0;
  }

  .card__title {
    margin: 10px 16px 0;
    width: 256px;
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .card__text {
    margin: 14px 16px 0;
    width: 256px;
  }

  .card__author {
    margin: 8px 16px 16px;
    width: 256px;
  }

  .card__button_mark:hover + .card__button_signin {
    margin: 16px 0 0 100px;
  }

  .card__button_remove {
    width: 83px;
    margin: 8px 64px 0 0;
  }

  .card__button_keyword {
    margin-left: 8px;
  }

  .card__button_delete:hover + .card__button_text {
    margin: 61px 0px 0 90px;
  }
  .card:first-child {
    margin-top: 58px;
  }
}
